@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Product>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Photo</td>
                    <th>Product name</th>
                    <th>Product Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img width="100px" src="~/uploads/Product_Images/@item.Images[0].Url" /></td>
                        <td>@item.Name</td>
                        <td>@item.Category.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>
                            <form asp-controller="Product" asp-action="Delete" asp-route-id=@item.Id method="post" style="display:inline;">
                                <button class="btn btn-danger" type="submit">delete</button>
                            </form>
                            <a asp-action="Update" class="btn btn-info" asp-route-id="@item.Id">update</a>
                            <a asp-action="Detail" class="btn btn-primary" asp-route-id="@item.Id">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <td>Photo</td>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->